# NextAuth.js Configuration
NEXTAUTH_SECRET=your-nextauth-secret-key-here
NEXTAUTH_URL=http://localhost:3000

# Google OAuth2 Configuration
GOOGLE_CLIENT_ID=89542713386-19eqi06iohvterhhm5alq2q72tf1u33s.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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